<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>
            My web page 
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="FileUploadHandler.js"></script>
    </head>
    <body>
        <div class="container w-100">
            <div class="row w-100 mt-3 border border-secondary rounded">
                <h5 class="ml-3 mt-2">Procedure</h5>
                <div class="w-100"> 
                    <table class="table table-striped mt-3 w-75 ml-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Naziv procedure</th>
                                <th scope="col">Tip procedure</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="procedura :${procedure}">
                                <td th:text=${procedura.getIme()}></td>
                                <td th:text=${procedura.getStringTip()}></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row w-100 mt-3 border border-secondary rounded">
                <h5 class="ml-3 mt-2">Funkcije</h5>
                <div class="w-100"> 
                    <table class="table table-striped mt-3 w-75 ml-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Naziv funkcije</th>
                                <th scope="col">Tip funkcije</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="funkcija :${funkcije}">
                                <td th:text=${funkcija.getIme()}></td>
                                <td th:text=${funkcija.getStringTip()}></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row w-100 mt-3 border border-secondary rounded">
                <h5 class="ml-3 mt-2">Trigeri</h5>
                <div class="w-100"> 
                    <table class="table table-striped mt-3 w-75 ml-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Naziv trigera</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="triger :${trigeri}">
                                <td th:text=${triger}></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row w-100 mt-3 border border-secondary rounded">
                <h5 class="ml-3 mt-2">Veze među tabelama</h5>
                <div class="w-100"> 
                    <table class="table table-striped mt-3 w-75 ml-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ParentKey tabela</th>
                                <th scope="col">ParentKey kolona</th>
                                <th scope="col">ForeignKey tabela</th>
                                <th scope="col">ForeignKey kolona</th>
                                <th scope="col">ForeignKey ime</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="straniKljuc :${straniKljucevi}">
                                <td th:text=${straniKljuc.getPKTableName()}></td>
                                <td th:text=${straniKljuc.getPKColumnName()}></td>
                                <td th:text=${straniKljuc.getFKTableName()}></td>
                                <td th:text=${straniKljuc.getFKColumnName()}></td>
                                <td th:text=${straniKljuc.getFKName()}></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row w-100 mt-3 border border-secondary rounded">
                <h5 class="ml-3 mt-2">Tabele</h5>
                <div class="list-group mt-3 w-100" th:each="tabela :${tabele}">
                    <div class="input-group mt-3 w-100" >
                        <div class="input-group-prepend">
                            <span class="input-group-text">Naziv tabele:</span>
                        </div>          
                        <input th:value=${tabela.getNaziv()} type="text" class="form-control" readonly>
                    </div>
                    <br/>
                    <table class="table table-striped mt-3 w-75 ml-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Naziv kolone</th>
                                <th scope="col">Tip podataka</th>
                                <th scope="col">Velicina kolone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="kolona :${tabela.getKolone()}">
                                <td th:text=${kolona.getNaziv()}></td>
                                <td th:text=${kolona.getTip()}></td>
                                <td th:text=${kolona.getVelicina()}></td>
                            </tr>
                        </tbody>
                    </table>
                     <table class="table table-striped mt-1 w-75 ml-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Naziv primarnog kljuca</th>
                                <th scope="col">Kolona</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="primarniKljuc :${tabela.getPrimarniKljucevi()}">
                                <td th:text=${primarniKljuc.getNaziv()}></td>
                                <td th:text=${primarniKljuc.getKolona()}></td>
                            </tr>
                        </tbody>
                    </table>
                     <table class="table table-striped mt-1 w-75 ml-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Naziv indeksa</th>
                                <th scope="col">Tip indeksa</th>
                                <th scope="col">Kolona</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="indeks :${tabela.getIndeksi()}">
                                <td th:text=${indeks.getNaziv()}></td>
                                <td th:text=${indeks.getStringTip()}></td>
                                <td th:text=${indeks.getKolona()}></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>